<div class="simple-audio-player" id="simp" data-config='{"shide_top":false,"shide_btm":false,"auto_load":false}'>
      <div class="simp-playlist">
        <ul>
          <li><span class="simp-source" data-src="{{ t.url }}">{{ t.title }}</span><span class="simp-desc">{{ t.artist }}</span></li>
        </ul>
      </div>
</div>